<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--通用head 其中加载了css-->
<head th:replace="public/head :: onLoadHead(首页)"></head>

<body data-type="index">
<div class="am-g tpl-g">
    <!-- 通用头部 -->
    <header th:include="public/topBar :: topBar"></header>
    <!-- 主题选择组件 -->
    <div th:include="public/skiner :: skiner" class="tpl-skiner"></div>
    <!-- 公用左侧栏 -->
    <div th:include="public/leftMenu :: leftMenu" class="left-sidebar"></div>
    <!-- 模态提示组件 -->
    <div th:include="public/tips :: Tips"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading">
                        <span class="am-icon-btc page-header-heading-icon"></span>
                        占坑文本<small>administrator management</small>
                    </div>
                    <p class="page-header-description">占坑文本占坑文本占坑文本</p>
                </div>
                <div class="am-u-lg-3 tpl-index-settings-button">
                    <button type="button" class="page-header-button" onclick="clickChangeTheme()">
                        <span class="am-icon-paint-brush"></span> 切换主题
                    </button>
                </div>
            </div>

        </div>

        <div class="row-content am-cf">
            <div class="row  am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本</div>
                            <div class="widget-function am-fr">
                                <!--                                <a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-fl">
                                <div class="widget-fluctuation-period-text">
                                    99999
                                    <button class="widget-fluctuation-tpl-btn" onclick="">
                                        <i class="am-icon-calendar"></i>
                                        占坑文本
                                    </button>
                                </div>
                            </div>
                            <div class="am-fr am-cf">
                                <div class="widget-fluctuation-description-amount text-success" am-cf>
                                    99999
                                </div>
                                <div class="widget-fluctuation-description-text am-text-right">
                                    占坑文本
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-success am-cf">
                        <div class="widget-statistic-header">
                            占坑文本
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                99999
                            </div>
                            <div class="widget-statistic-description">
                                占坑文本占坑文本占坑文本占坑文本
                            </div>
                            <span class="widget-statistic-icon am-icon-money"></span>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-danger am-cf">
                        <div class="widget-statistic-header">
                            占坑文本
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                99999
                            </div>
                            <div class="widget-statistic-description">
                                占坑文本占坑文本占坑文本
                            </div>
                            <span class="widget-statistic-icon am-icon-sign-out"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  am-cf">
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-purple am-cf">
                        <div class="widget-statistic-header">
                            占坑文本
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                99999
                            </div>
                            <div class="widget-statistic-description">
                                占坑文本占坑文本占坑文本
                            </div>
                            <span class="widget-statistic-icon am-icon-users"></span>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-primary am-cf">
                        <div class="widget-statistic-header">
                            占坑文本占坑文本
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                99999
                            </div>
                            <div class="widget-statistic-description">
                                占坑文本占坑文本
                            </div>
                            <span class="widget-statistic-icon am-icon-bomb"></span>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-warning am-cf">
                        <div class="widget-statistic-header">
                            占坑文本
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                99999
                            </div>
                            <div class="widget-statistic-description">
                                占坑文本占坑文本
                            </div>
                            <span class="widget-statistic-icon am-icon-yelp"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-8">
                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                                <div class="am-dropdown am-dropdown-charts-simulation" data-am-dropdown>
                                    <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                                        &nbsp; <span class="am-icon-cog"></span>
                                    </a>
                                    <ul class="am-dropdown-content">
                                        <li class="am-dropdown-header">展示天数</li>
                                        <li class="am-active"><a href="javascript:;" onclick="findNewRegisterTrend(5)">5天</a></li>
                                        <li><a href="javascript:;" onclick="findNewRegisterTrend(10)">10天</a></li>
                                        <li><a href="javascript:;" onclick="findNewRegisterTrend(15)">15天</a></li>
                                        <li><a href="javascript:;" onclick="findNewRegisterTrend(0)">所有数据</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-findNewRegisterTrend">

                        </div>
                    </div>
                </div>


                <div class="am-u-sm-12 am-u-md-4">
                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                                <!--                                <a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body widget-body-md am-fr">
                            <th:block th:each="data:${configs}">
                                <th:block
                                        th:with="result=${#numbers.formatDecimal((1.0 * data.residueAmount / data.allAmount)*100, 1, 'POINT', 2, 'POINT')}">
                                    <div class="am-progress-title">[[${data.description}]] <span
                                            class="am-fr am-progress-title-more">[[${data.residueAmount}]] / [[${data.allAmount}]]</span>
                                    </div>
                                    <div class="am-progress">
                                        <div th:class="'am-progress-bar '+${data.className}"
                                             th:style="'width:'+${result}+'%'"></div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-8">
                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                                <div class="am-dropdown am-dropdown-charts-simulation" data-am-dropdown>
                                    <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                                        &nbsp; <span class="am-icon-cog"></span>
                                    </a>
                                    <ul class="am-dropdown-content">
                                        <li class="am-dropdown-header">展示天数</li>
                                        <li class="am-active"><a href="javascript:;" onclick="findEarningOrderTrend(5)">5天</a></li>
                                        <li><a href="javascript:;" onclick="findEarningOrderTrend(10)">10天</a></li>
                                        <li><a href="javascript:;" onclick="findEarningOrderTrend(15)">15天</a></li>
                                        <li><a href="javascript:;" onclick="findEarningOrderTrend(0)">所有数据</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-findEarningOrderTrend">

                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-4">

                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-findEarningOrderProportion">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-8">

                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                                <div class="am-dropdown am-dropdown-charts-simulation" data-am-dropdown>
                                    <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                                        &nbsp; <span class="am-icon-cog"></span>
                                    </a>
                                    <ul class="am-dropdown-content">
                                        <li class="am-dropdown-header">展示天数</li>
                                        <li class="am-active"><a href="javascript:;" onclick="findDepositTrend(5)">5天</a></li>
                                        <li><a href="javascript:;" onclick="findDepositTrend(10)">10天</a></li>
                                        <li><a href="javascript:;" onclick="findDepositTrend(15)">15天</a></li>
                                        <li><a href="javascript:;" onclick="findDepositTrend(0)">所有数据</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-findDepositTrend">
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-4">

                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-findEarningProportion">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-12">

                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                                <div class="am-dropdown am-dropdown-charts-simulation" data-am-dropdown>
                                    <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                                        &nbsp; <span class="am-icon-cog"></span>
                                    </a>
                                    <ul class="am-dropdown-content">
                                        <li class="am-dropdown-header">展示天数</li>
                                        <li class="am-active"><a href="javascript:;" onclick="findEarningTrend(5)">5天</a></li>
                                        <li><a href="javascript:;" onclick="findEarningTrend(10)">10天</a></li>
                                        <li><a href="javascript:;" onclick="findEarningTrend(15)">15天</a></li>
                                        <li><a href="javascript:;" onclick="findEarningTrend(0)">所有数据</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-findEarningTrend">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-12">

                    <div class="widget am-cf widget-body-lg">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">占坑文本占坑文本</div>
                            <div class="widget-function am-fr">
                                <div class="am-dropdown am-dropdown-charts-simulation" data-am-dropdown>
                                    <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                                        &nbsp; <span class="am-icon-cog"></span>
                                    </a>
                                    <ul class="am-dropdown-content">
                                        <li class="am-dropdown-header">展示天数</li>
                                        <li class="am-active"><a href="javascript:;" onclick="losslessOutSimulationTrend(5)">5天</a></li>
                                        <li><a href="javascript:;" onclick="losslessOutSimulationTrend(10)">10天</a></li>
                                        <li><a href="javascript:;" onclick="losslessOutSimulationTrend(15)">15天</a></li>
                                        <li><a href="javascript:;" onclick="losslessOutSimulationTrend(0)">所有数据</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" style="height: 273px"
                             id="tpl-losslessOutSimulationTrend">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--加载JS-->
<js th:replace="public/js :: onLoadJS"></js>
<script th:src="@{/system_assets/js/chart/echarts.min.js}" type="text/javascript"></script>
<script th:src="@{/system_assets/js/chart/amazeui.datatables.min.js}" type="text/javascript"></script>
<script th:src="@{/system_assets/js/chart/dataTables.responsive.min.js}" type="text/javascript"></script>
<script type="text/javascript">
    let chartsTitleColor;
    $(function () {
        reloadAllStatement();
    });

    const reloadAllStatement =function(){
    }

</script>
</body>
</html>