<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 0neBean-->
<!--description 测试生成代码 mapper-->
<!--date 2019-08-01 09:16:32-->
<mapper namespace="net.onebean.aluminium.dao.TestCodeDao">

</mapper>