<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--通用head 其中加载了css-->
<head th:replace="public/head :: onLoadHead(后台访问记录流水管理)"></head>

<body data-type="index">
<div class="am-g tpl-g">
    <!-- 通用头部 -->
    <header th:include="public/topBar :: topBar"></header>
    <!-- 主题选择组件 -->
    <div th:include="public/skiner :: skiner" class="tpl-skiner"></div>
    <!-- 公用左侧栏 -->
    <div th:include="public/leftMenu :: leftMenu" class="left-sidebar"></div>
    <!-- 模态提示组件 -->
    <div th:include="public/tips :: Tips"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="row">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <div class="widget am-cf">
                                <div class="widget-head am-cf">
                                    <th:block th:include="public/breadCrumbs :: breadCrumbsTempl"/>
                                </div>
                                <div class="widget-body am-fr">

                                    <form class="am-form tpl-form-border-form tpl-form-border-br" id="DataFrom">
                                                <input type="hidden" name="id" th:value="${entity.id}">

                                                <div class="am-form-group">
                                                    <label for="loginIp" class="am-u-sm-3 am-form-label">IP地址 <span class="tpl-form-line-small-title">Text</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="loginIp" id="loginIp" placeholder="请输入IP地址" th:disabled="${view}" th:value="${entity.loginIp}">
                                                        <small th:unless="${view}">IP地址</small>
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <label for="userName" class="am-u-sm-3 am-form-label">登录名 <span class="tpl-form-line-small-title">Text</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="userName" id="userName" placeholder="请输入登录名" th:disabled="${view}" th:value="${entity.userName}">
                                                        <small th:unless="${view}">登录名</small>
                                                    </div>
                                                </div>
                                        <div class="am-form-group">
                                            <div class="am-u-sm-9 am-u-sm-push-3">
                                                <th:block sec:authorize="hasPermission('$everyone','PERM_ADMIN_ACCESS_IP_RECORD_SAVE')">
                                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success" th:unless="${view}">提交</button>
                                                </th:block>

                                                <th:block sec:authorize="hasPermission('$everyone','PERM_ADMIN_ACCESS_IP_RECORD_SAVE')">
                                                    <button type="button" class="am-btn am-btn-warning" th:onclick="'routingPage(\'/sysadminaccessiprecord/edit/'+${entity.id}+'\')'" th:if="${view}">编辑</button>
                                                </th:block>
                                                <button type="button" class="am-btn am-btn-danger" onClick="routingPage('/sysadminaccessiprecord/preview/')">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--加载JS-->
<js th:replace="public/js :: onLoadJS"></js>
<script th:inline="javascript">
    $(function () {
        validateFrom();
    });

    /**
     * 校验登录表单
     * @returns void
     */
    function validateFrom(){
        $("#DataFrom").validate({
            rules: {
            loginIp:{
            },
            userName:{
            },
            createTime:{
            },
            updateTime:{
            },
            operatorId:{
            },
            operatorName:{
            },
            isDeleted:{
            }

            },
            submitHandler: function(form) { //验证成功时调用
                var param = $('#DataFrom').serializeJson();
                var url = "/sysadminaccessiprecord/save";
                var completeHandler = function (data) {
                    routingPage('/sysadminaccessiprecord/preview/');
                };
                doPost(url,param,completeHandler);
            }
        });
    }

</script>
</body>
</html>